<section class="footer">
    <div class="social-networks-title">
        <h5>Seguinos en las Redes!</h5>
    </div>
    <div class="social-networks-box">
        <div class="social-networks-box-small">
            <a href="<%=main.facebook%>">
                <img src="/images/facebook_logo.png" alt="facebook" class="social-networks-logo">
            </a>
            <a href="">
                <img src="/images/instagram_logo.png" alt="instagram" class="social-networks-logo">
            </a>
        </div>
    </div>

    <div class="payment_methods">
        <img src="/images/mercado_pago_logo.png" alt="mercado_pago" class="mercado_pago_logo">
    </div>

    <div class="contact_methods">
        <img src="/images/whatsapp_logo.png" alt="whatsapp" class="social-networks-logo">
        <p><%=main.phone%></p>
        <img src="/images/gmail_logo.png" alt="gmail" class="social-networks-logo">
        <p><%=main.email%></p>
        <img src="/images/maps_logo.png" alt="maps" class="social-networks-logo">
        <p><%=main.address%></p>
    </div>

    <ul>
        <li><a href=""><p>Quienes somos</p></a></li>
        <li><a href="">Terminos y condiciones</a></li>
        <li><a href="">Contacto</a></li>
        <li><a href="">Ubicacion</a></li>
    </ul>
</section>