<section class="header">
    <div class="logo-box">
        <a href="/"><img class="logo" src="/images/logo-png.png" alt="Logo del granero"></a>
    </div>
    <div class="search-box">
        <form action="" method="GET" class="search-form">
            <div class="search-bar-box">
                <input type="text" placeholder="Estoy buscando..." name="search" id="search" class="search-bar">
                <button type="submit" class="search-button"><i class="fas fa-search"></i></button> 
            </div>
        </form>
    </div>
    <div class="header-nav-menu-box">
        <ul class="header-nav-menu-list">
            <li>
                <a href="/products">Productos</a>
            </li>
            <li>
                <a href="/about">Quienes Somos</a>
            </li>
            <li>
                <a href="/contact">Contacto</a>
            </li>
        </ul>
    </div>
    <div class="right-box">
        <div class="menu-box">

            <a href=""><i class="fas fa-bars"></i></a>
        </div>
        <div class="cart-box">
            <div class="item-counter">
                5
            </div>
            <a href=""><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>
</section>