<section class="header">
    <div class="logo-box">
        <a href=""><img class="logo" src="/images/logo-png.png" alt="Logo del granero"></a>
    </div>
    <div class="search-box">
        <form action="" method="GET" class="search-form">
            <div class="search-bar-box">
                <input type="text" placeholder="Estoy buscando..." name="search" id="search" class="search-bar">
                <button type="submit" class="search-button"><i class="fas fa-search"></i></button> 
            </div>
        </form>
    </div>
    <div class="left-box">
        <div>
            <a href=""><i class="fas fa-bars"></i></a>
        </div>
        <div>
            <div class="item-counter">
                5
            </div>
            <a href=""><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>
</section>